{"openapi":"3.1.0","info":{"title":"mls-apis","version":"1.0"},"servers":[{"url":"https://api.realestateapi.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"x-api-key"}}},"security":[{"sec0":[]}],"paths":{"/v2/MLSDetail":{"post":{"summary":"MLS Detail API","description":"Get the Official MLS Listing Data for a specific Property - using a \"listing_id\" or an \"address\"","operationId":"mls-detail-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int32"},"address":{"type":"string"},"house":{"type":"string"},"unit":{"type":"string"},"unit_type":{"type":"string"},"street":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"county":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/MLSSearch":{"post":{"summary":"MLS Search API","description":"Find property listings on-the-market that fit your specific criteria.","operationId":"mls-search-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"boolean","description":"Enable \"count\" mode to only receive the number of results (\"resultCount\") matching your input payload, not the actual listing records. Default: false"},"ids_only":{"type":"boolean","description":"Receive an array of RealEstateAPI unique \"ID\"s to assist with calling Property Detail or Property Detail Bulk API as your Step 2 to get public record data for your listing. Max size with ids_only mode is 10,000"},"include_photos":{"type":"boolean","description":"return full list of photos for each MLS Search response object, without having to call MLS Detail for each"},"summary":{"type":"boolean"},"obfuscate":{"type":"boolean"},"sort":{"type":"object","description":"for info on what is sortable: https://developer.realestateapi.com/reference/sorting-for-mls-search-api","properties":{}},"size":{"type":"integer","description":"Specify the number of results you'd like returned in your MLS Search API Call. Values of 1-250 accepted for record pulling mode (default). Values of 1-10,000 accepted for \"ids_only\": true mode.","format":"int32"},"resultIndex":{"type":"integer","description":"\"resultIndex\" is your pagination parameter for MLS Search API. Each API call will a resultIndex value in the response you can use to fetch subsequent pages by adding it and its value in the input of the next request with the same query as before.","format":"int32"},"id":{"type":"integer","format":"int32"},"listing_id":{"type":"integer","format":"int32"},"address":{"type":"string","description":"\"address\" can be used instead of \"latitude\"/\"longitude\" for search radius searches. Another use is to find any listing record matching for a specific address across different statuses (a previously sold, current active, etc.)"},"house":{"type":"string"},"unit":{"type":"string"},"unit_type":{"type":"string"},"street":{"type":"string","description":"Filter for listings on a specific street - works best when combined with \"city\", \"zip\", \"state\", \"county\""},"city":{"type":"string","description":"Filter for listings in a specific city - required dependency is \"state\" field"},"state":{"type":"string","description":"Accepts the 2 Character State Code, ALL CAPS. Filter for listings in a specific state - or combine with \"county\", \"city\" or \"street\" to narrow your search."},"zip":{"type":"string","description":"Filter for listings in a specific zip code or an array of zip codes"},"county":{"type":"string"},"mls_board_code":{"type":"string","description":"Accepts a single \"string\" value or array of \"string\" values. MLS Board Codes for searching by specific boards can be provided by our team."},"latitude":{"type":"number","description":"Required dependency fields: \"longitude\", \"radius\"","format":"float"},"longitude":{"type":"number","description":"Required dependency fields: \"latitude\", \"radius\"","format":"float"},"radius":{"type":"number","description":"Use along with \"latitude\"/\"longitude\" to perform a search radius search around a specific location point with your other MLS Search filters applied","format":"float"},"polygon":{"type":"array","description":"Accepts an array of objects where each object consists of \"lat\"/\"lon\" fields.","items":{"properties":{"lat":{"type":"number","format":"float"},"lon":{"type":"number","format":"float"}},"type":"object"}},"multi_polygon":{"type":"array"},"listing_property_type":{"type":"string","description":"Check possible values here: https://developer.realestateapi.com/reference/listing-property-type","enum":["RESIDENTIAL","RENTAL","LAND","COMMERCIAL","COMMERCIAL_FOR_LEASE","BUSINESS_OPPORTUNITY","RESIDENTIAL_INCOME"]},"property_sub_type":{"type":"string","description":"Check possible values: https://developer.realestateapi.com/reference/property-sub-types"},"property_type":{"type":"string","description":"SFR, MFR, LAND, CONDO, MOBILE, OTHER (from Public Record property types)"},"active":{"type":"boolean","description":"Filter for listings with a status of \"Active\""},"cancelled":{"type":"boolean","description":"Filter for listings with a status of \"Cancelled\""},"failed":{"type":"boolean","description":"Filter for listings with a status of \"Failed\""},"pending":{"type":"boolean","description":"Filter for only pending listings"},"sold":{"type":"boolean","description":"Filter for only listings that have already sold; use along with sold_date_min/max to find solds from a specific period"},"has_photos":{"type":"boolean","description":"Only return listings that have photos"},"has_pool":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a pool"},"has_basement":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a basement structure"},"is_city_view":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a view of a city landscape"},"is_mountain_view":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a view of a mountain"},"is_park_view":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a view of a public park"},"is_water_view":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has a view of a pond, lake, river, or other body of water"},"is_water_front":{"type":"boolean","description":"A true/false flag that indicates whether the listed property has direct access to a body of water"},"custom_status":{"type":"string"},"status":{"type":"string","description":"Filter by the statuses of your choice: https://developer.realestateapi.com/reference/current-status-searches"},"listing_agent_email":{"type":"string","description":"See examples of how to call for listings by listing agent email: https://developer.realestateapi.com/reference/search-for-agent-listings-by-email"},"listing_agent_id":{"type":"string","description":"See examples of how to call for listings by listing agent ID: https://developer.realestateapi.com/reference/search-for-agent-listings-by-agent-id"},"selling_agent_email":{"type":"string","description":"See examples of how to call for listings by selling agent email: https://developer.realestateapi.com/reference/search-for-agent-listings-by-email"},"selling_agent_id":{"type":"string","description":"See examples of how to call for listings by selling agent ID: https://developer.realestateapi.com/reference/search-for-agent-listings-by-agent-id"},"mls_number":{"type":"string","description":"Find a single listing by it's official MLS Number. Check here for a code sample: https://developer.realestateapi.com/reference/mls-number-search"},"mls_type":{"type":"string"},"bathrooms":{"type":"integer","description":"Exact value bathroom count search param. Do NOT use along with \"bathrooms_min\"/\"bathrooms_max\"","format":"int32"},"bathrooms_min":{"type":"integer","description":"Use along with \"bathrooms_max\" to search for listings with a range of bathrooms falling between your min & max","format":"int32"},"bathrooms_max":{"type":"integer","description":"Use along with \"bathrooms_min\" to search for listings with a range of bathrooms falling between your min & max","format":"int32"},"bedrooms":{"type":"integer","description":"Exact value bedroom count search param. Do NOT use along with \"bedrooms_min\"/\"bedrooms_max\"","format":"int32"},"bedrooms_min":{"type":"integer","description":"Use along with \"bedrooms_max\" to search for listings with a range of bedrooms falling between your min & max","format":"int32"},"bedrooms_max":{"type":"integer","description":"Use along with \"bedrooms_min\" to search for listings with a range of bathrooms falling between your min & max","format":"int32"},"days_on_market_min":{"type":"integer","description":"Use along with \"days_on_market_max\" to search for listings with that have been on-market for the number of days falling between your min & max","format":"int32"},"days_on_market_max":{"type":"integer","description":"Use along with \"days_on_market_min\" to search for listings with that have been on-market for the number of days falling between your min & max","format":"int32"},"listing_price_min":{"type":"integer","description":"Use along with \"listing_price_max\" to search for listings with a current listing price range between your min & max","format":"int32"},"listing_price_max":{"type":"integer","description":"Use along with \"listing_price_min\" to search for listings with a current listing price range between your min & max","format":"int32"},"living_area":{"type":"integer","description":"Exact value living square feet search param. Do NOT use along with \"living_area_min\"/\"living_area_max\"","format":"int32"},"living_area_min":{"type":"integer","description":"Use along with \"living_area_max\" to search for listings with a living square footage between your min & max","format":"int32"},"living_area_max":{"type":"integer","description":"Use along with \"living_area_min\" to search for listings with a living square footage between your min & max","format":"int32"},"lot_size":{"type":"integer","description":"Exact value lot square feet search param. Do NOT use along with \"lot_size_min\"/\"lot_size_max\"","format":"int32"},"lot_size_min":{"type":"integer","description":"Use along with \"lot_size_max\" to search for listings with a lot square footage between your min & max","format":"int32"},"lot_size_max":{"type":"integer","description":"Use along with \"lot_size_min\" to search for listings with a lot square footage between your min & max","format":"int32"},"price_per_sqft_min":{"type":"integer","format":"int32"},"price_per_sqft_max":{"type":"integer","format":"int32"},"sold_price":{"type":"integer","description":"Exact value sold price search param.","format":"int32"},"stories":{"type":"integer","description":"Exact value stories count search param.","format":"int32"},"year_built":{"type":"integer","description":"Exact value year built search param. Useful for getting new construction - year_built: <current-year-value>. Do NOT use along with \"year_built_min\"/\"year_built_max\"","format":"int32"},"year_built_min":{"type":"integer","description":"Use along with \"year_built_max\" to search for listings with built in the years between your min & max","format":"int32"},"year_built_max":{"type":"integer","description":"Use along with \"year_built_min\" to search for listings with built in the years between your min & max","format":"int32"},"listing_date_min":{"type":"string","description":"YYYY-MM-DD date format","format":"date"},"listing_date_max":{"type":"string","description":"YYYY-MM-DD date format","format":"date"},"sold_date_min":{"type":"string","description":"Check code sample here: https://developer.realestateapi.com/reference/sold-date-searches","format":"date"},"sold_date_max":{"type":"string","format":"date"},"last_status_change_date_min":{"type":"string","description":"Check examples here: https://developer.realestateapi.com/reference/listing-status-change-date-searches","format":"date"},"last_status_change_date_max":{"type":"string","format":"date"},"listing_contract_date_min":{"type":"string","format":"date"},"listing_contract_date_max":{"type":"string","format":"date"},"modification_timestamp_min":{"type":"string","description":"Filter for any listing changes with the modification timestamp search: https://developer.realestateapi.com/reference/listing-detail-update-searches","format":"date"},"modification_timestamp_max":{"type":"string","format":"date"},"price_change_timestamp_min":{"type":"string","description":"Check examples here: https://developer.realestateapi.com/reference/listing-price-change-date-searches","format":"date"},"price_change_timestamp_max":{"type":"string","format":"date"},"public_absentee_type":{"type":"boolean","description":"Filters against the public record data field: \"absentee_owner\" (bool)"},"public_document_type":{"type":"string","description":"Filters against the County Tax Recorder data field that indicates the deed type of the current owner's mortgage."},"public_document_type_code":{"type":"string","description":"Filters against the public record deed type code corresponding with the corresponding mortgage document type descriptor: https://developer.realestateapi.com/reference/document-type-codes"},"public_land_use":{"type":"string","description":"Filters against the County Assessor's classification for the listing parcel's land use. Common values include \"Residential\" and \"Commercial\""},"public_property_use":{"type":"string"},"public_property_use_code":{"type":"integer","description":"Accepts an integer or array of integers of the valid County Assessor classifications for property use that can be found here: https://developer.realestateapi.com/reference/property-use-codes-reference","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}