{"openapi":"3.1.0","info":{"title":"skiptrace-apis","version":"1.0"},"servers":[{"url":"https://api.realestateapi.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"x-api-key"}}},"security":[{"sec0":[]}],"paths":{"/v1/SkipTrace":{"post":{"summary":"Reverse Email Lookup","description":"","operationId":"reverse-email-lookup","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":[],"properties":{"email":{"type":"string"},"phone":{"type":"string","description":"a valid 10 digit phone number"},"first_name":{"type":"string","default":""},"middle_name":{"type":"string"},"last_name":{"type":"string"},"mail_address":{"type":"string"},"mail_unit":{"type":"string"},"mail_city":{"type":"string"},"mail_state":{"type":"string"},"mail_zip":{"type":"string"},"address":{"type":"string"},"unit":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"match_requirements":{"type":"object","properties":{"phones":{"type":"boolean","description":"When set to true, will only return a match if phones are present"},"emails":{"type":"boolean","description":"When set to true, will only return a match if emails are present"},"operator":{"type":"string","description":"accepts values: 'and', 'AND', 'or', 'OR'"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":{"requestId":"a2ad418a-f32c-49bf-879c-eb197d876640","responseCode":0,"requestDate":"2025-06-26T20:11:14.003Z","responseMessage":"Successful","warnings":"None","input":{"address":"**** 19th Rd N","zip":"*****","state":"VA","city":"Arlington"},"output":{"identity":{"names":[{"firstName":"John","middleName":"","lastName":"****","fullName":"John ****"},{"firstName":"John","middleName":"J","lastName":"****","fullName":"John J ****"}],"address":{"house":"873","preDir":"E","street":"3rd","postDir":"","strType":"St","aptNbr":"","aptType":"","city":"Englewood","state":"FL","county":"","zip":"34223","z4":"4406","latitude":"","longitude":"","formattedAddress":"873 E 3rd St, Englewood, FL 34223","lastSeen":"2025-04-14","validSince":""},"addressHistory":[{"house":"5828","preDir":"","street":"Little Falls","postDir":"","strType":"Rd","aptNbr":"","aptType":"","city":"Arlington","state":"VA","county":"","zip":"22207","z4":"1367","latitude":"","longitude":"","formattedAddress":"5828 Little Falls Rd, Arlington, VA 22207","lastSeen":"2025-04-14","validSince":""}],"phones":[{"phone":"703237****","telcoName":"","phoneDisplay":"(703) 237-****","phoneExtension":"","isConnected":true,"doNotCall":true,"phoneType":"landline","lastSeen":"2025-04-14","validSince":""},{"phone":"703538****","telcoName":"","phoneDisplay":"(703) 538-****","phoneExtension":"","isConnected":false,"doNotCall":false,"phoneType":"landline","lastSeen":"2025-04-14","validSince":""}],"emails":[{"email":"*****@hotmail.com","emailType":"personal"},{"email":"*****@aol.com","emailType":"personal"}]},"demographics":{"dob":"1959 - 1960","dod":"","deceased":false,"gender":"Male","age":65,"ageDisplay":"65 years old","images":[],"social":[],"education":[],"jobs":[{"title":"Upper Management/Executive","org":"","industry":"","display":"Upper Management/Executive","dates":""}],"names":[{"type":"","prefix":"","firstName":"John","lastName":"****","middleName":"","suffix":"","fullName":"John ****","lastSeen":"","validSince":""},{"type":"","prefix":"","firstName":"John","lastName":"****","middleName":"J","suffix":"","fullName":"John ****","lastSeen":"","validSince":""}]},"relationships":[],"stats":{"searchResults":1,"names":2,"addresses":2,"phoneNumbers":2,"emailAddresses":2,"associates":0,"jobs":1,"socialProfiles":0,"images":0}},"match":true,"cached":false,"statusCode":200,"statusMessage":"Success","credits":10,"live":true,"requestExecutionTimeMS":"115ms"}}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"parameters":[]}},"/v1/ReversePhoneSearch":{"post":{"summary":"Reverse Phone Lookup","description":"","operationId":"reverse-phone-search","parameters":[{"name":"x-user-id","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"phone":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v1/ReverseNameSearch":{"post":{"summary":"Reverse Name Search API","description":"","operationId":"reverse-name-search-api","parameters":[{"name":"x-user-id","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"zip":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v1/SkipTraceBatch":{"post":{"summary":"Bulk SkipTrace API","description":"Skiptrace up to 1,000 people in one API call","operationId":"bulk-skiptrace-api","parameters":[{"name":"x-user-id","in":"header","description":"Denote a unique user identifier to this api call by passing it in this header field","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["skips","webcomplete_url"],"properties":{"skips":{"type":"array","description":"An array of contacts that you will would like to have skipped and returned with demographic profiles, including phone numbers and emails","items":{"properties":{"key":{"type":"integer","description":"An internal key provided by you that will help you connect requests going into the API to the responses that hit your webhook","format":"int32"},"webhook_url":{"type":"string","description":"The location where you would like to receive the responses for each of the individual requests sent to this endpoint"},"first_name":{"type":"string"},"middle_name":{"type":"string"},"last_name":{"type":"string"},"phone":{"type":"string","description":"Phone must be 10 digits without any formatting & cannot contain any alpha characters or special characters"},"email":{"type":"string"},"address":{"type":"string","description":"If you provide address, city, state, and zip then the mailing address parts aren't required but they can still be provided"},"unit":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"mail_address":{"type":"string","description":"If you provide mail_address, mail_city, mail_state, and mail_zip then the regular address parts aren't required but they can still be provided"},"mail_unit":{"type":"string"},"mail_city":{"type":"string"},"mail_state":{"type":"string"},"mail_zip":{"type":"string"}},"required":["key","webhook_url"],"type":"object"}},"webcomplete_url":{"type":"string","description":"must be a valid https POST endpoint.  The webhook_url should return a https status of 200.  The response body can be empty."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Bulk Process Kickoff Acknowledgement":{"value":"{\n  \"acknowledged\": true,\n  \"statusCode\": 200,\n  \"statusMessage\": \"Success\",\n  \"batchId\": \"47f05182-2d27-4f16-be92-97b963e90900\",\n  \"batchRequestIds\": [\n    {\n      \"key\": 1,\n      \"batchRequestId\": \"fe5b39f1-bcc9-4db5-9e15-6c43c8c4f1c1\"\n    },\n    {\n      \"key\": 2,\n      \"batchRequestId\": \"gelflsk1-adzz9-4fs6-8ulf-fsj9lsf8sk2\"\n    },\n  ],\n  \"receiveCount\": 2,\n  \"receiveTime\": \"2022-04-27T13:16:57.091Z\",\n  \"requestExecutionTimeMS\": \"0ms\",\n  \"live\": true\n}"},"Individual Request Response Schema":{"value":"{\n  \"batchId\": \"2067cf32-159f-4364-af53-64aaea795158\",\n  \"batchRequestId\": \"7563461e-5195-4741-8751-1cc4d966dd83\",\n  \"requestId\": \"ca3487cd-ad21-4abd-8a76-e8f68b581f1e\",\n  \"responseCode\": 0,\n  \"requestDate\": \"2022-04-27T13:23:43.953Z\",\n  \"responseMessage\": \"Successful\",\n  \"warnings\": \"None\",\n  \"input\": {\n    \"key\": 1,\n    \"first_name\": \"Justin\",\n    \"last_name\": \"Winthers\",\n    \"address\": \"1428 Fishers Mill Ct\",\n    \"city\": \"Herndon\",\n    \"state\": \"VA\",\n    \"zip\": \"20170\",\n    \"mail_address\": \"1428 Fishers Mill Ct\",\n    \"mail_city\": \"Herndon\",\n    \"mail_state\": \"VA\",\n    \"mail_zip\": \"20170\"\n  },\n  \"output\": {\n    \"identity\": {\n      \"names\": [\n        {\n          \"prefix\": \"Mr\",\n          \"firstName\": \"Justin\",\n          \"lastName\": \"Winthers\",\n          \"middleName\": \"E\",\n          \"suffix\": \"\",\n          \"fullName\": \"Justin E Winthers\"\n        },\n        {\n          \"prefix\": \"\",\n          \"firstName\": \"Justin\",\n          \"lastName\": \"Lion\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Justin Lion\"\n        },\n        {\n          \"prefix\": \"\",\n          \"firstName\": \"E\",\n          \"lastName\": \"Justin\",\n          \"middleName\": \"W\",\n          \"suffix\": \"\",\n          \"fullName\": \"E W Justin\"\n        }\n      ],\n      \"address\": {\n        \"house\": \"1428\",\n        \"preDir\": \"\",\n        \"street\": \"Fishers Mill Court\",\n        \"postDir\": \"\",\n        \"strType\": \"\",\n        \"aptNbr\": \"\",\n        \"aptType\": \"\",\n        \"city\": \"Herndon\",\n        \"state\": \"VA\",\n        \"county\": \"\",\n        \"zip\": \"20170\",\n        \"z4\": \"\",\n        \"latitude\": \"\",\n        \"longitude\": \"\",\n        \"formattedAdddress\": \"1428 Fishers Mill Court, Herndon, Virginia\",\n        \"lastSeen\": \"\",\n        \"validSince\": \"\"\n      },\n      \"addressHistory\": [\n        {\n          \"house\": \"1428\",\n          \"preDir\": \"\",\n          \"street\": \"Fishers Mill Court\",\n          \"postDir\": \"\",\n          \"strType\": \"\",\n          \"aptNbr\": \"\",\n          \"aptType\": \"\",\n          \"city\": \"Herndon\",\n          \"state\": \"VA\",\n          \"county\": \"\",\n          \"zip\": \"20170\",\n          \"z4\": \"\",\n          \"latitude\": \"\",\n          \"longitude\": \"\",\n          \"formattedAdddress\": \"1428 Fishers Mill Court, Herndon, Virginia\",\n          \"lastSeen\": \"\",\n          \"validSince\": \"\"\n        }\n      ],\n      \"phones\": [\n        {\n          \"phone\": \"2022559348\",\n          \"phoneDisplay\": \"202-255-9348\",\n          \"isConnected\": true,\n          \"doNotCall\": true,\n          \"phoneType\": \"mobile\",\n          \"validSince\": \"2007-09-16\"\n        },\n        {\n          \"phone\": \"5712057304\",\n          \"phoneDisplay\": \"571-205-7304\",\n          \"isConnected\": true,\n          \"phoneType\": \"mobile\",\n          \"validSince\": \"2015-03-15\"\n        },\n        {\n          \"phone\": \"7035980364\",\n          \"phoneDisplay\": \"703-598-0364\",\n          \"isConnected\": true,\n          \"phoneType\": \"mobile\",\n          \"validSince\": \"2009-12-08\"\n        },\n        {\n          \"phone\": \"7037870109\",\n          \"phoneDisplay\": \"703-787-0109\",\n          \"isConnected\": true,\n          \"phoneType\": \"home_phone\",\n          \"validSince\": \"2011-06-28\"\n        },\n        {\n          \"phone\": \"7036200505\",\n          \"phoneDisplay\": \"703-620-0505\",\n          \"isConnected\": true,\n          \"doNotCall\": true,\n          \"phoneType\": \"home_phone\",\n          \"validSince\": \"2006-01-10\"\n        },\n        {\n          \"phone\": \"7032551211\",\n          \"phoneDisplay\": \"703-255-1211\",\n          \"isConnected\": true,\n          \"doNotCall\": true\n        },\n        {\n          \"phone\": \"5714187670\",\n          \"phoneDisplay\": \"571-418-7670\",\n          \"isConnected\": true\n        }\n      ],\n      \"emails\": [\n        {\n          \"email\": \"jwinthers@gmail.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"dadsdohair@gmail.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justin_e_winthers@yahoo.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justinewinthers@yahoo.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"jwinthers@yahoo.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justinwinthers@yahoo.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"jwinthers@aol.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justin_e_winthers@mail.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justin@digitaladvisors.io\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"jwinthers@cqmtg.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"loanofficer@dreyfussinvestments.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"dana.tello@live.com\",\n          \"emailType\": \"personal\"\n        },\n        {\n          \"email\": \"justin.winthers@nreca.coop\",\n          \"emailType\": \"work\"\n        }\n      ]\n    },\n    \"demographics\": {\n      \"dob\": \"1973-03-01 - 1973-03-31\",\n      \"dod\": \"\",\n      \"deceased\": false,\n      \"gender\": \"male\",\n      \"age\": \"49 years old\",\n      \"images\": [\n        {\n          \"url\": \"https://s-media-cache-ak0.pinimg.com/avatars/justinwinthers_1402025249_140.jpg\"\n        },\n        {\n          \"url\": \"http://lh4.googleusercontent.com/-c2n-b48r4ww/AAAAAAAAAAI/AAAAAAAAAAA/sAoV1G0WEYI/photo.jpg\"\n        }\n      ],\n      \"social\": [\n        {\n          \"name\": \"MySpace\",\n          \"category\": \"personal_profiles\",\n          \"domain\": \"myspace.com\",\n          \"url\": \"https://myspace.com/justinwinthers\"\n        },\n        {\n          \"name\": \"LinkedIn\",\n          \"category\": \"professional_and_business\",\n          \"domain\": \"linkedin.com\",\n          \"url\": \"http://www.linkedin.com/in/justinwinthers\"\n        },\n        {\n          \"name\": \"Pinterest\",\n          \"category\": \"personal_profiles\",\n          \"domain\": \"pinterest.com\",\n          \"url\": \"http://pinterest.com/justinwinthers/\"\n        },\n        {\n          \"name\": \"GitHub\",\n          \"category\": \"personal_profiles\",\n          \"domain\": \"github.com\",\n          \"url\": \"https://github.com/JustinWinthers\"\n        },\n        {\n          \"name\": \"Facebook\",\n          \"category\": \"personal_profiles\",\n          \"domain\": \"facebook.com\",\n          \"url\": \"http://www.facebook.com/people/_/748649743\"\n        },\n        {\n          \"name\": \"MySpace\",\n          \"category\": \"personal_profiles\",\n          \"domain\": \"myspace.com\",\n          \"url\": \"http://myspace.com/justinwinthers\"\n        },\n        {\n          \"name\": \"LinkedIn\",\n          \"category\": \"professional_and_business\",\n          \"domain\": \"linkedin.com\",\n          \"url\": \"https://www.linkedin.com/in/justinwinthers\"\n        },\n        {\n          \"category\": \"personal_profiles\",\n          \"domain\": \"facebook.com\",\n          \"url\": \"http://www.facebook.com/justin.winthers\"\n        }\n      ],\n      \"education\": [],\n      \"jobs\": [\n        {\n          \"title\": \"Information Technology and Services\",\n          \"industry\": \"Information Technology and Services\",\n          \"display\": \"Information Technology and Services\",\n          \"dates\": \"\"\n        },\n        {\n          \"title\": \"The Lending Society Inc.\",\n          \"display\": \"The Lending Society Inc.\",\n          \"dates\": \"\"\n        },\n        {\n          \"title\": \"Director, Defined Benefit Applications\",\n          \"org\": \"NRECA\",\n          \"display\": \"Director, Defined Benefit Applications at NRECA\",\n          \"dates\": \"\"\n        }\n      ],\n      \"names\": [\n        {\n          \"type\": \"\",\n          \"prefix\": \"Mr\",\n          \"firstName\": \"Justin\",\n          \"lastName\": \"Winthers\",\n          \"middleName\": \"E\",\n          \"suffix\": \"\",\n          \"fullName\": \"Justin E Winthers\",\n          \"lastSeen\": \"2021-04-10\",\n          \"validSince\": \"2000-06-19\"\n        },\n        {\n          \"type\": \"\",\n          \"prefix\": \"\",\n          \"firstName\": \"Justin\",\n          \"lastName\": \"Lion\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Justin Lion\",\n          \"lastSeen\": \"\",\n          \"validSince\": \"2018-11-14\"\n        },\n        {\n          \"type\": \"alias\",\n          \"prefix\": \"\",\n          \"firstName\": \"E\",\n          \"lastName\": \"Justin\",\n          \"middleName\": \"W\",\n          \"suffix\": \"\",\n          \"fullName\": \"E W Justin\",\n          \"lastSeen\": \"\",\n          \"validSince\": \"\"\n        }\n      ]\n    },\n    \"relationships\": [\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Gabriel\",\n          \"lastName\": \"Benn\",\n          \"middleName\": \"Asheru\",\n          \"suffix\": \"\",\n          \"fullName\": \"Gabriel Asheru Benn\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Cristal\",\n          \"lastName\": \"Waldrop\",\n          \"middleName\": \"Hill\",\n          \"suffix\": \"\",\n          \"fullName\": \"Cristal Hill Waldrop\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Mark\",\n          \"lastName\": \"Cephas\",\n          \"middleName\": \"A\",\n          \"suffix\": \"\",\n          \"fullName\": \"Mark A Cephas\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Lisza\",\n          \"lastName\": \"Hayward\",\n          \"middleName\": \"M\",\n          \"suffix\": \"\",\n          \"fullName\": \"Lisza M Hayward\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Stella\",\n          \"lastName\": \"Accoo\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Stella Accoo\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Leslie\",\n          \"lastName\": \"Green\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Leslie Green\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"David\",\n          \"lastName\": \"Wilson\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"David Wilson\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Milike\",\n          \"lastName\": \"Winthers\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Milike Winthers\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Stephen\",\n          \"lastName\": \"Heverin\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Stephen Heverin\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Ian\",\n          \"lastName\": \"Swain\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Ian Swain\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Greg\",\n          \"lastName\": \"Foster\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Greg Foster\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Gerard\",\n          \"lastName\": \"Reynolds\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Gerard Reynolds\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Troy\",\n          \"lastName\": \"Hughes\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Troy Hughes\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Karla\",\n          \"lastName\": \"Ballard\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Karla Ballard\"\n        }\n      },\n      {\n        \"type\": \"other\",\n        \"name\": {\n          \"prefix\": \"\",\n          \"firstName\": \"Mike\",\n          \"lastName\": \"Runsoeasy\",\n          \"middleName\": \"\",\n          \"suffix\": \"\",\n          \"fullName\": \"Mike Runsoeasy\"\n        }\n      }\n    ],\n    \"stats\": {\n      \"searchResults\": 1,\n      \"names\": 3,\n      \"addresses\": 17,\n      \"phoneNumbers\": 7,\n      \"emailAddresses\": 13,\n      \"associates\": 15,\n      \"jobs\": 3,\n      \"socialProfiles\": 9,\n      \"images\": 2\n    }\n  },\n  \"match\": true,\n  \"cached\": true,\n  \"statusCode\": 200,\n  \"statusMessage\": \"Success\",\n  \"credits\": 0,\n  \"live\": true,\n  \"requestExecutionTimeMS\": \"186ms\"\n}"}},"schema":{"type":"object","properties":{"batchId":{"type":"string","example":"2067cf32-159f-4364-af53-64aaea795158"},"batchRequestId":{"type":"string","example":"7563461e-5195-4741-8751-1cc4d966dd83"},"requestId":{"type":"string","example":"ca3487cd-ad21-4abd-8a76-e8f68b581f1e"},"responseCode":{"type":"integer","example":0,"default":0},"requestDate":{"type":"string","example":"2022-04-27T13:23:43.953Z"},"responseMessage":{"type":"string","example":"Successful"},"warnings":{"type":"string","example":"None"},"input":{"type":"object","properties":{"key":{"type":"integer","example":1,"default":0},"first_name":{"type":"string","example":"Justin"},"last_name":{"type":"string","example":"Winthers"},"address":{"type":"string","example":"1428 Fishers Mill Ct"},"city":{"type":"string","example":"Herndon"},"state":{"type":"string","example":"VA"},"zip":{"type":"string","example":"20170"},"mail_address":{"type":"string","example":"1428 Fishers Mill Ct"},"mail_city":{"type":"string","example":"Herndon"},"mail_state":{"type":"string","example":"VA"},"mail_zip":{"type":"string","example":"20170"}}},"output":{"type":"object","properties":{"identity":{"type":"object","properties":{"names":{"type":"array","items":{"type":"object","properties":{"prefix":{"type":"string","example":"Mr"},"firstName":{"type":"string","example":"Justin"},"lastName":{"type":"string","example":"Winthers"},"middleName":{"type":"string","example":"E"},"suffix":{"type":"string","example":""},"fullName":{"type":"string","example":"Justin E Winthers"}}}},"address":{"type":"object","properties":{"house":{"type":"string","example":"1428"},"preDir":{"type":"string","example":""},"street":{"type":"string","example":"Fishers Mill Court"},"postDir":{"type":"string","example":""},"strType":{"type":"string","example":""},"aptNbr":{"type":"string","example":""},"aptType":{"type":"string","example":""},"city":{"type":"string","example":"Herndon"},"state":{"type":"string","example":"VA"},"county":{"type":"string","example":""},"zip":{"type":"string","example":"20170"},"z4":{"type":"string","example":""},"latitude":{"type":"string","example":""},"longitude":{"type":"string","example":""},"formattedAdddress":{"type":"string","example":"1428 Fishers Mill Court, Herndon, Virginia"},"lastSeen":{"type":"string","example":""},"validSince":{"type":"string","example":""}}},"addressHistory":{"type":"array","items":{"type":"object","properties":{"house":{"type":"string","example":"1428"},"preDir":{"type":"string","example":""},"street":{"type":"string","example":"Fishers Mill Court"},"postDir":{"type":"string","example":""},"strType":{"type":"string","example":""},"aptNbr":{"type":"string","example":""},"aptType":{"type":"string","example":""},"city":{"type":"string","example":"Herndon"},"state":{"type":"string","example":"VA"},"county":{"type":"string","example":""},"zip":{"type":"string","example":"20170"},"z4":{"type":"string","example":""},"latitude":{"type":"string","example":""},"longitude":{"type":"string","example":""},"formattedAdddress":{"type":"string","example":"1428 Fishers Mill Court, Herndon, Virginia"},"lastSeen":{"type":"string","example":""},"validSince":{"type":"string","example":""}}}},"phones":{"type":"array","items":{"type":"object","properties":{"phone":{"type":"string","example":"2022559348"},"phoneDisplay":{"type":"string","example":"202-255-9348"},"isConnected":{"type":"boolean","example":true,"default":true},"doNotCall":{"type":"boolean","example":true,"default":true},"phoneType":{"type":"string","example":"mobile"},"validSince":{"type":"string","example":"2007-09-16"}}}},"emails":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","example":"jwinthers@gmail.com"},"emailType":{"type":"string","example":"personal"}}}}}},"demographics":{"type":"object","properties":{"dob":{"type":"string","example":"1973-03-01 - 1973-03-31"},"dod":{"type":"string","example":""},"deceased":{"type":"boolean","example":false,"default":true},"gender":{"type":"string","example":"male"},"age":{"type":"string","example":"49 years old"},"images":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://s-media-cache-ak0.pinimg.com/avatars/justinwinthers_1402025249_140.jpg"}}}},"social":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"MySpace"},"category":{"type":"string","example":"personal_profiles"},"domain":{"type":"string","example":"myspace.com"},"url":{"type":"string","example":"https://myspace.com/justinwinthers"}}}},"education":{"type":"array"},"jobs":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","example":"Information Technology and Services"},"industry":{"type":"string","example":"Information Technology and Services"},"display":{"type":"string","example":"Information Technology and Services"},"dates":{"type":"string","example":""}}}},"names":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":""},"prefix":{"type":"string","example":"Mr"},"firstName":{"type":"string","example":"Justin"},"lastName":{"type":"string","example":"Winthers"},"middleName":{"type":"string","example":"E"},"suffix":{"type":"string","example":""},"fullName":{"type":"string","example":"Justin E Winthers"},"lastSeen":{"type":"string","example":"2021-04-10"},"validSince":{"type":"string","example":"2000-06-19"}}}}}},"relationships":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"other"},"name":{"type":"object","properties":{"prefix":{"type":"string","example":""},"firstName":{"type":"string","example":"Gabriel"},"lastName":{"type":"string","example":"Benn"},"middleName":{"type":"string","example":"Asheru"},"suffix":{"type":"string","example":""},"fullName":{"type":"string","example":"Gabriel Asheru Benn"}}}}}},"stats":{"type":"object","properties":{"searchResults":{"type":"integer","example":1,"default":0},"names":{"type":"integer","example":3,"default":0},"addresses":{"type":"integer","example":17,"default":0},"phoneNumbers":{"type":"integer","example":7,"default":0},"emailAddresses":{"type":"integer","example":13,"default":0},"associates":{"type":"integer","example":15,"default":0},"jobs":{"type":"integer","example":3,"default":0},"socialProfiles":{"type":"integer","example":9,"default":0},"images":{"type":"integer","example":2,"default":0}}}}},"match":{"type":"boolean","example":true,"default":true},"cached":{"type":"boolean","example":true,"default":true},"statusCode":{"type":"integer","example":200,"default":0},"statusMessage":{"type":"string","example":"Success"},"credits":{"type":"integer","example":0,"default":0},"live":{"type":"boolean","example":true,"default":true},"requestExecutionTimeMS":{"type":"string","example":"186ms"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request (Non-Valid Webhook)":{"value":"{\n  statusCode: 400,\n  error: 'Bad Request',\n  message: '\"[0].webhook_url\" must be a valid uri',\n  validation: [Object]\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request POST \\\n  --url https://api.realestateapi.com/v1/SkipTraceBatch \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-api-key: <your-api-key>' \\\n  --data '{\n  \"match_requirements\": {\n  \t\"phones\": true,\n    \"emails\": true,\n    \"social\": true\n  },\n  \"webcomplete_url\": \"https://myServer.com/api/myWebhookEndpt\",\n  \"skips\": [\n    {\n\t    \"key\": 1,\n      \"webhook_url\": \"<Your Webhook Url>\",\n      \"first_name\": \"Jane\",\n      \"last_name\": \"Smith\",\n      \"address\": \"123 Main St\",\n      \"city\": \"Herndon\",\n      \"state\": \"VA\",\n      \"zip\": \"20170\"\n    },\n    {\n      \"key\": 2,\n      \"webhook_url\": \"<Your Webhook Url>\",\n      \"first_name\": \"Joe\",\n      \"last_name\": \"Nelson\",\n      \"address\": \"1000 New St\",\n      \"city\": \"Reston\",\n      \"state\": \"VA\",\n      \"zip\": \"20194\",\n      \"mail_address\": \"2000 Another St\",\n      \"mail_city\": \"Reston\",\n      \"mail_state\": \"VA\",\n      \"mail_zip\": \"20194\"\n    }\n  ]\n}'","name":"Bulk Skip Request Sample"}],"samples-languages":["curl"]}}},"/v1/SkipTraceBatchAwait":{"post":{"summary":"Bulk SkipTrace Await API","description":"Need to call the Bulk SkipTrace API and don't want to sweat the Webhook setup or need to return results directly to the calling thread? Use this endpoint to get the identity and demographic data you need and call it via 'await' keywords in programming languages that support such syntax.","operationId":"bulk-skip-async","parameters":[{"name":"x-user-id","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["skips"],"properties":{"skips":{"type":"array","description":"An array of skip requests - each skip request contains owner names (optional) + address (required)","items":{"properties":{"key":{"type":"integer","description":"An internal key provided by you that will help you connect requests going into the API to the responses that hit your webhook","format":"int32"},"webhook_url":{"type":"string","description":"The location where you would like to receive the responses for each of the individual requests sent to this endpoint"},"first_name":{"type":"string"},"middle_name":{"type":"string"},"last_name":{"type":"string"},"phone":{"type":"string","description":"Phone must be 10 digits without any formatting & cannot contain any alpha characters or special characters"},"email":{"type":"string"},"address":{"type":"string","description":"If you provide address, city, state, and zip then the mailing address parts aren't required but they can still be provided"},"unit":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip":{"type":"string"},"mail_address":{"type":"string","description":"If you provide mail_address, mail_city, mail_state, and mail_zip then the regular address parts aren't required but they can still be provided"},"mail_unit":{"type":"string"},"mail_city":{"type":"string"},"mail_state":{"type":"string"},"mail_zip":{"type":"string"}},"required":["key","webhook_url"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\n\n}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"x-user-id","value":"UniqueUserIdentifier"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}